extends layout

block content

  h1 Редактирование списка продуктов для покупки

  .container
    .d-flex.align-items-start
      .nav.flex-column.nav-pills.me-3#v-pills-tab(role="tablist", aria-orientation="vertical")
        each group in groupsView
          button.nav-link.text-start(id=`v-pills-${group.groupId}-tab`, data-bs-toggle="pill", data-bs-target=`#v-pills-${group.groupId}`, type="button", role="tab", aria-controls=`v-pills-${group.groupId}`, aria-selected="true")=group.groupName

      .tab-content#v-pills-tabContent
        each group in groupsView
          - var tabId = `group-content-${group.groupId}`
          .tab-pane.fade(id=`v-pills-${group.groupId}`, role="tabpanel", aria-labelledby=`v-pills-${group.groupId}-tab`)
            .container(id=tabId)
              include editshoplistgroup
            button.btn.btn-primary.addProdButton(data-group-id=group.groupId, data-group-name=group.groupName, data-el-id=tabId, data-template-name="editshoplistgroup") Добавить



  .modal.fade#addToGroupModal(tabindex="-1")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Добавление в группу
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
        .modal-body
          form#addToGroupForm(action="addtogroup")
            input.prodId(type="hidden", name="prodId")
            input.prodName(type="hidden", name="prodName")
            input.groupId(type="hidden", name="groupId")

            select.form-select#otherGroups(size="20", aria-label="Добавление в другую группу")
              each group in groupsView
                option(value=group.groupId)=group.groupName
        .modal-footer
          button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Закрыть
          button.btn.btn-primary#applyAddToGroupEdit(type="button") Сохранить

  //- block scripts
  script(src='/editshoppinglist.page.js')

              
  include ./shoppinglistcommon.pug


    