extends layout


block content

  h1= title
  - var titleCols = 8;
  div.container-fluid
    div.row
      div.col
        div.container-fluid
          div.row
            div.col
              div.container-fluid
                form#formPrint(action='/print', method='POST')
                  div.row
                    div.col
                    
                      textarea.bg-text-for-print.print-row-len-56#bgTextForPrint(cols="60", rows="20", disabled="disabled", value="")
                      textarea.text-for-print.print-row-len-56#textForPrint(name="textForPrint", cols="60", rows="20", value="") 
                      // button.btn.btn-primary Печать временная

                  div.row
                    label(class=`col-sm-${titleCols} col-form-label` for="title") Название
                    div(class=`col-sm-${12 - titleCols}`)
                      input.form-control(id="title" name="title", type="text", value=new Date().toISOString())

                  div.row
                    div.col.d-flex.justify-content-between
                      button.btn.btn-primary.mb-3.mt-3.mr-5#btnPrint Печать
                      button.btn.btn-outline-primary.mb-3.mt-3.mr-5#btnSave Сохранить
                      button.btn.btn-outline-primary.mb-3.mt-3#btnSaveAward Сохранить в награды

                  div.row
                    div.col
                      div.alert.alert-info(role="alert") Для подстановки даты надо вставить в шаблон "##DATA##"

                  div.row
                    div.col.d-flex.justify-content-between
                      button.btn.btn-outline-secondary.mb-3.mt-3#btnPrint(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOptions" aria-expanded="false" aria-controls="collapseExample") Настройки
                      div.form-check.form-check-inline
                        input.form-check-input(id="rowLen33", type="radio", name="rowLen", value="33")
                        label.form-check-label(for="rowLen33") 33
                      div.form-check.form-check-inline
                        input.form-check-input(id="rowLen42", type="radio", name="rowLen", value="42")
                        label.form-check-label(for="rowLen42") 42
                      div.form-check.form-check-inline
                        input.form-check-input(id="rowLen56", type="radio", name="rowLen", value="56", checked)
                        label.form-check-label(for="rowLen56") 56

                  div.row
                    div.col.collapse#collapseOptions
                      fieldset.row.mb-3
                        legend(class=`col-form-label col-sm-${titleCols} pt-0`) Character font
                        div(class=`col-sm-${12 - titleCols}`)
                          div.form-check.form-check-inline
                            input.form-check-input(id="printMode0", type="radio", name="printMode", value="0")
                            label.form-check-label(for="printMode0") A
                          div.form-check.form-check-inline
                            input.form-check-input(id="printMode1", type="radio", name="printMode", value="1", checked)
                            label.form-check-label(for="printMode1") B

                      div.row.mb-3
                        label(class=`col-sm-${titleCols} col-form-label` for="lineSpacing") Расстояние между строк
                        div(class=`col-sm-${12 - titleCols}`)
                          input.form-control(id="lineSpacing" name="lineSpacing", type="number", value=0)

                      fieldset.row.mb-3
                        legend(class=`col-form-label col-sm-${titleCols} pt-0`, title="Select character font")
                          | Character font
                          table.table.table-striped
                            thead
                              th Char /Inch
                              th n
                              th FUNCTION
                            tbody 
                              tr
                                td(rowspan=2)
                                  | A=11cpi
                                  br
                                  .
                                    B=15cpi
                                td 0,48
                                td Font 11 cpi (18x24)
                              tr
                                td 1,49
                                td Font 15 cpi (14x24)

                              tr
                                td(rowspan=2)
                                  | A=15cpi
                                  br
                                  .
                                    B=20cpi
                                td 0,48
                                td Font 15 cpi (14x24)
                              tr
                                td 1,49
                                td Font 20 cpi (10x24)

                              tr
                                td(rowspan=2)
                                  | A=20cpi
                                  br
                                  .
                                    B=15cpi
                                td 0,48
                                td Font 20 cpi (10x24)
                              tr
                                td 1,49
                                td Font 15 cpi (14x24)

                        div(class=`col-sm-${12 - titleCols}`)
                          div.form-check.form-check-inline
                            input.form-check-input(id="charFont0", type="radio", name="charFont", value="0")
                            label.form-check-label(for="charFont0") 0
                          div.form-check.form-check-inline
                            input.form-check-input(id="charFont1", type="radio", name="charFont", value="1", checked)
                            label.form-check-label(for="charFont1") 1

                      fieldset.row.mb-3
                        legend(class=`col-form-label col-sm-${titleCols} pt-0`, title="Sets cpi mode based on the following values of n") Cpi mode
                        div(class=`col-sm-${12 - titleCols}`)
                          div.form-check.form-check-inline
                            input.form-check-input(id="cpiMode0", type="radio", name="cpiMode", value="0")
                            label.form-check-label(for="cpiMode0") Font A = 11 cpi<br/>Font B = 15 cpi
                          div.form-check.form-check-inline
                            input.form-check-input(id="cpiMode1", type="radio", name="cpiMode", value="1", checked)
                            label.form-check-label(for="cpiMode1") Font A = 15 cpi<br/>Font B = 20 cpi
                          div.form-check.form-check-inline
                            input.form-check-input(id="cpiMode2", type="radio", name="cpiMode", value="2")
                            label.form-check-label(for="cpiMode2") Font A = 20 cpi<br/>Font B = 15 cpi


      div.col
        div.container-fluid.prints
          div.row
            div.col
              h3 Награды
              div.row.row-cols-1.row-cols-md-2.g-4
                each printedWithFile in awards
                  div.col
                    - 
                      var attrs = { 
                        'data-file-name': printedWithFile.fileName, 
                        'data-print-mode': printedWithFile.printed.printMode,
                        'data-line-spacing': printedWithFile.printed.lineSpacing,
                        'data-char-font': printedWithFile.printed.charFont,
                        'data-cpi-mode': printedWithFile.printed.cpiMode,
                        };
                    div.card.for-print&attributes(attrs)
                      div.card-header.d-flex.justify-content-between
                        div= printedWithFile.printed.title
                      div.card-body
                        // h5= award.title
                        p.print-content= printedWithFile.printed.content
                        a.stretched-link.open-content(href="#") Открыть
                        
                else
                  div Наград нет

          div.row
            div.col
              h3 Напечатано
              div.row.row-cols-1.row-cols-md-2.g-4
                each printedWithFile in printeds
                  div.col
                    - 
                      var attrs = { 
                        'data-file-name': printedWithFile.fileName, 
                        'data-print-mode': printedWithFile.printed.printMode,
                        'data-line-spacing': printedWithFile.printed.lineSpacing,
                        'data-char-font': printedWithFile.printed.charFont,
                        'data-cpi-mode': printedWithFile.printed.cpiMode,
                        };
                    div.card.for-print&attributes(attrs)
                      div.card-header.d-flex.justify-content-between
                        div= printedWithFile.printed.title
                        button.btn-close.delete-file(type="button" aria-label="Close", style="z-index:5;")
                      div.card-body
                        // h5= printed.title
                        p.print-content= printedWithFile.printed.content
                        a.stretched-link.open-content(href="#") Открыть
                       
                else
                  div Пока ничего нет

  script(src='./index.page.js')


