extends layout


block content


  - var titleCols = 8;
  div.container-fluid
    h1= title
    h3= printer
    h6.fw-light.mb-3 Для печати картинок из буфера обмена, просто вставьте из буфера (Ctrl+V). Чтобы напечатать, нажмите на клавиатуре "Enter". Для печати наград, изменения настроек и прочего нажмите кнопку "Дополнительно"
    div.row
      div.col
        div.container-fluid
          div.row
            div.col
              div.container-fluid
                form#formPrint(action='/print', method='POST')
                  input(type="hidden", name="raw")
                  img(id="hiddenImg" src="#" alt="your image", style="width:200px")

                  div.row
                    div.col#preview
                      textarea.bg-text-for-print.print-row-len-56#bgTextForPrint(cols="60", rows="20", disabled="disabled", value="")
                      textarea.text-for-print.print-row-len-56#textForPrint(name="textForPrint", cols="60", rows="20", value="") 
                      div#imageContainer

                  div.row
                    div.col.d-flex.justify-content-between
                      button.btn.btn-primary.mb-3.mt-3.mr-5#btnPrint Печать
                      button.btn.btn-outline-secondary.mb-3.mt-3.mr-5#btnShowAdditional(type="button", data-bs-toggle="collapse", data-bs-target=".collapseAdditional", aria-expanded="false", aria-controls="collapseAdditional") Дополнительно
                  
                  div.row.collapse.collapseAdditional
                    div.col.d-flex.justify-content-between.mb-3
                      div.form-check.form-check-inline
                        input.form-check-input(id="rowLen33", type="radio", name="rowLen", value="33")
                        label.form-check-label(for="rowLen33") 33
                      div.form-check.form-check-inline
                        input.form-check-input(id="rowLen42", type="radio", name="rowLen", value="42")
                        label.form-check-label(for="rowLen42") 42
                      div.form-check.form-check-inline
                        input.form-check-input(id="rowLen56", type="radio", name="rowLen", value="56", checked)
                        label.form-check-label(for="rowLen56") 56


                  div.row.mb-1.collapse.collapseAdditional
                    label(class=`col-sm-4 col-form-label` for="title") Название
                    div(class=`col-sm-8`)
                      input.form-control(id="title" name="title", type="text", value=new Date().toISOString())

                  div.row.collapse.collapseAdditional
                    div.col
                      div.alert.alert-info(role="alert")
                        | Для подстановки даты надо вставить в шаблон "##DATA##"<br/>
                        strong Замена: <br/>
                        |   [GS] - 0x1d<br/>
                        |   [\x**] заменяются на HEX значения<br/>
                        |   {CODE128:text} печатает ШК. Например: {CODE128:[HOMEPR]1} напечатает [HOMEPR]1 в виде ШК<br/>

                  div.row.collapse.collapseAdditional
                    div.col.d-flex.justify-content-between
                      button.btn.btn-outline-secondary.mb-3.mt-3#btnPrint(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOptions" aria-expanded="false" aria-controls="collapseExample") Настройки
                      button.btn.btn-outline-primary.mb-3.mt-3.mr-5#btnSave Сохранить
                      button.btn.btn-outline-primary.mb-3.mt-3#btnSaveAward Сохранить в награды

                  div.row.collapse.collapseAdditional
                    div.col.d-flex.justify-content-between
                      a(href="/shoppinglist") Список покупок
                      a(href="/printbyqr") Настройки печати
                      a(href="/scan") Продукты

                  div.row.collapse.collapseAdditional
                    div.col.collapse#collapseOptions
                      fieldset.row.mb-3
                        legend(class=`col-form-label col-sm-${titleCols} pt-0`) Character font
                        div(class=`col-sm-${12 - titleCols}`)
                          div.form-check.form-check-inline
                            input.form-check-input(id="printMode0", type="radio", name="printMode", value="0")
                            label.form-check-label(for="printMode0") A
                          div.form-check.form-check-inline
                            input.form-check-input(id="printMode1", type="radio", name="printMode", value="1", checked)
                            label.form-check-label(for="printMode1") B

                      div.row.mb-3
                        label(class=`col-sm-${titleCols} col-form-label` for="lineSpacing") Расстояние между строк
                        div(class=`col-sm-${12 - titleCols}`)
                          input.form-control(id="lineSpacing" name="lineSpacing", type="number", value=0)

                      fieldset.row.mb-3
                        legend(class=`col-form-label col-sm-${titleCols} pt-0`, title="Select character font")
                          | Character font
                          table.table.table-striped
                            thead
                              th Char /Inch
                              th n
                              th FUNCTION
                            tbody 
                              tr
                                td(rowspan=2)
                                  | A=11cpi
                                  br
                                  .
                                    B=15cpi
                                td 0,48
                                td Font 11 cpi (18x24)
                              tr
                                td 1,49
                                td Font 15 cpi (14x24)

                              tr
                                td(rowspan=2)
                                  | A=15cpi
                                  br
                                  .
                                    B=20cpi
                                td 0,48
                                td Font 15 cpi (14x24)
                              tr
                                td 1,49
                                td Font 20 cpi (10x24)

                              tr
                                td(rowspan=2)
                                  | A=20cpi
                                  br
                                  .
                                    B=15cpi
                                td 0,48
                                td Font 20 cpi (10x24)
                              tr
                                td 1,49
                                td Font 15 cpi (14x24)

                        div(class=`col-sm-${12 - titleCols}`)
                          div.form-check.form-check-inline
                            input.form-check-input(id="charFont0", type="radio", name="charFont", value="0")
                            label.form-check-label(for="charFont0") 0
                          div.form-check.form-check-inline
                            input.form-check-input(id="charFont1", type="radio", name="charFont", value="1", checked)
                            label.form-check-label(for="charFont1") 1

                      fieldset.row.mb-3
                        legend(class=`col-form-label col-sm-${titleCols} pt-0`, title="Sets cpi mode based on the following values of n") Cpi mode
                        div(class=`col-sm-${12 - titleCols}`)
                          div.form-check.form-check-inline
                            input.form-check-input(id="cpiMode0", type="radio", name="cpiMode", value="0")
                            label.form-check-label(for="cpiMode0") Font A = 11 cpi<br/>Font B = 15 cpi
                          div.form-check.form-check-inline
                            input.form-check-input(id="cpiMode1", type="radio", name="cpiMode", value="1", checked)
                            label.form-check-label(for="cpiMode1") Font A = 15 cpi<br/>Font B = 20 cpi
                          div.form-check.form-check-inline
                            input.form-check-input(id="cpiMode2", type="radio", name="cpiMode", value="2")
                            label.form-check-label(for="cpiMode2") Font A = 20 cpi<br/>Font B = 15 cpi


      div.col
        div.container-fluid.prints.collapse.collapseAdditional
          div.row
            div.col
              input(type='file' id="imgInp")
          div.row
            div.col
              h3 Награды
              div.row.row-cols-1.row-cols-md-2.g-4
                each printedWithFile in awards
                  div.col
                    - 
                      var attrs = { 
                        'data-file-name': printedWithFile.fileName, 
                        'data-print-mode': printedWithFile.printed.printMode,
                        'data-line-spacing': printedWithFile.printed.lineSpacing,
                        'data-char-font': printedWithFile.printed.charFont,
                        'data-cpi-mode': printedWithFile.printed.cpiMode,
                        };
                    div.card.for-print&attributes(attrs)
                      div.card-header.d-flex.justify-content-between
                        div= printedWithFile.printed.title
                      div.card-body
                        // h5= award.title
                        p.print-content= printedWithFile.printed.content
                        a.stretched-link.open-content(href="#") Открыть
                        
                else
                  div Наград нет

          div.row
            div.col
              h3 Напечатано
              div.row.row-cols-1.row-cols-md-2.g-4
                each printedWithFile in printeds
                  div.col
                    - 
                      var attrs = { 
                        'data-file-name': printedWithFile.fileName, 
                        'data-print-mode': printedWithFile.printed.printMode,
                        'data-line-spacing': printedWithFile.printed.lineSpacing,
                        'data-char-font': printedWithFile.printed.charFont,
                        'data-cpi-mode': printedWithFile.printed.cpiMode,
                        };
                    div.card.for-print&attributes(attrs)
                      div.card-header.d-flex.justify-content-between
                        div= printedWithFile.printed.title
                        button.btn-close.delete-file(type="button" aria-label="Close", style="z-index:5;")
                      div.card-body
                        // h5= printed.title
                        p.print-content= printedWithFile.printed.content
                        a.stretched-link.open-content(href="#") Открыть
                       
                else
                  div Пока ничего нет


  div.modal#busyIndicator(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
    div.modal-dialog.modal-dialog-centered
      div.modal-content
        div.modal-header
          h5.modal-title#busyIndicatorLabel
        div.modal-body
          div.spinner-border(style="width: 3rem; height: 3rem;", role="status")
            span.visually-hidden#busyIndicatorAltLabel

  if printer === "custom"
    script(src='./printcustom.js')
  else if printer === "citizen"
    script(src='./printcitizen.js')
  script(src='./index.page.js')


